html
  head
    title File upload Node.
  body
    form#uploadForm(enctype='multipart/form-data', action='/img/new', method='post')
      input(type='file', name='userPhoto')
      input.btn.btn-success(type='submit', value='Upload Image', name='submit')
  //- link
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
  script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js')
  script(src='/javascripts/upload.js')